body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
.nav-button {
  text-decoration: none;
  text-align: right;
  float: right;
  padding-left: 30px;
  padding-top: 30px;
  color: black;
  font-weight: 530;
  font-size: 25px;
}
.nav-bar {
  float: left;
}
section {
  width: 80%;
  margin: 0px 10% auto;
}
.half-width {
  width: 50%;
  float: left;
  height: 100%;
}
h1 {
  color: rgb(54, 57, 88);
  font-weight: bold;
  font-size: 80px;
  margin: 0px;
}
p {
  padding-bottom: 25px;
  color: rgb(48, 46, 46);
  font-size: 15px;
  font-weight: 600;
}
.orange-highlighter {
  color: salmon;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, salmon, tomato);
  padding: 10px 30px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.hello-area img {
  width: 100%;
  float: right;
}
.about-area img {
  width: 100%;
  float: left;
}
.title {
  font-size: 60px;
  padding-top: 35px;
}
.working-area{
  background-color: ;

}