body {
  margin: 0%;
  padding: 0%;
  font-family: "Roboto", sans-serif;
}
.nav-button {
  text-decoration: none;
  text-align: right;
  float: right;
  padding-left: 30px;
  color: black;
  font-weight: 530;
  font-size: 25px;
}
.nav-bar {
  float: left;
  margin-bottom: 5%;
}
section {
  width: 80%;
  margin-left: 10%;
}
.half-width {
  width: 50%;
  float: left;
  height: 100%;
}
h1 {
  color: rgb(54, 57, 88);
  font-weight: bold;
  font-size: 80px;
  margin: 0px;
}
p {
  padding-bottom: 25px;
  color: rgb(48, 46, 46);
  font-size: 15px;
  font-weight: 600;
}
.orange-highlighter {
  color: salmon;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(45deg, salmon, tomato);
  padding: 10px 30px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.hello-area img {
  width: 100%;
  float: right;
}
.about-area img {
  width: 100%;
  float: left;
}
.title {
  font-size: 60px;
  padding-top: 35px;
}
.working-area {
  float: left;
  margin-top: 10%;
  padding-top: 35px;
  background-color: rgb(248, 249, 252);
}
.working-area h1 {
  font-size: 60px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}
.card-container {
  width: 100%;
  float: left;
  padding-bottom: 15%;
}
.card {
  margin-top: 3%;
  width: 30%;
  float: left;
  border-radius: 10px;
  box-shadow: 2px 3px 10px gray;
  margin-left: 10px;
  background-color: white;
  padding: 20px 10px;
  text-align: center;
  height: 350px;
}
.card h2 {
  color: rgb(54, 57, 88);
  font-weight: bold;
  padding-top: 30px;
}
.card img {
  width: 100%;
  float: right;
  margin-bottom: 40px;
}
.inquiry-area {
  float: left;
}
.color-area {
  margin-top: 10%;
  margin-bottom: 3%;
  margin-left: 19%;
  float: left;
  width: 90%;
  background-image: url("images/banner.png");
  background-size: 65%;
  background-repeat: no-repeat;
  padding-top: 20px;
  padding-left: 35px;
  text-align: center;
  height: 150px;
}
.working-part {
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-align: left;
  float: left;
  width: 45%;
}
.button-part {
  padding-top: 50px;
  float: left;
  text-align: left;
  width: 50%;
}
.contact-area h3 {
  color: rgb(90, 92, 118);
  font-size: 25px;
  text-align: center;
}
#mail-link {
  margin: 0px 32%;
  text-decoration: none;
  color: rgb(54, 57, 88);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.icons {
  width: 50%;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 19%;
}
.icons img {
  width: 8%;
  margin-left: 9%;
}
.skills-area {
  margin-top: 25px;
}
.skills-area img {
  padding-top: 50px;
  width: 60%;
}
.skills-area h1 {
  padding-top: 30px;
}
.skills-area h3 {
  font-size: 25px;
}
.skills-area p {
  font-size: 20px;
  color: rgb(54, 57, 88);
}
